.editor {
    width: 100% ;
    height: 79vh;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: auto 60% auto;
    grid-template-areas: 
    "topBar topBar topBar"
    "leftBar main rightBar"
    "bottomBar bottomBar bottomBar"
    ;
}