body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  padding: 50px;
  color: white;
  display: grid;
  grid-template-columns: 600px 600px;
}

.front-container {
  box-sizing: border-box;
  width: 600px;
  height: 900;
  padding-inline: 4%;
  padding-block: 4%;
  background: linear-gradient(180deg, rgb(135, 92, 26) 0%, rgb(56, 59, 37) 100%);
}

.back-container{
  box-sizing: border-box;
  width: 600px;
  height: 900;
  display: grid;
  grid-template-rows: 83% 17%; 
  
}

.back-image-container{
  width: 100%;
}

.back-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.back-code-container{
  width: 100%;

}

.back-code{
  width: 100%;
  height: 100%;
}



.cover {
  width: 100%;
}

.title-and-artist {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 1%;
}

.title {
  font-size: 2.5rem;
}

.artist {
  font-size: 1.5rem;
}

.song-playback {
  display: flex;
  flex-direction: column;
}
.playbar {

  width: 100%;
  height: 8px;
  position: relative;
}
.playbar-background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(169, 168, 168);
}

.playbar-foreground {
  width: 33%;
  height: 100%;
  position: absolute;
  background-color: white;
}
.song-times{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.play-controls {
  padding-top: 2%;
  padding-inline: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heart{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-block: 2%;
}
